<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <img src="img/image1.webp" alt="" class="block-intro__pic1">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro__left">
                            <div class="block-intro__titles">
                                <div class="block-intro__title">
                                    ЖК «Старый город»
                                </div>
                                <h1 class="title1">
                                    ваш новый<br> дом в гармонии<br> с природой!
                                </h1>
                                <div class="block-intro__text">
                                    <p>
                                        Квартиры комфорт-класса в зеленом районе Обнинска от 3,8 млн ₽. Всего 5 минут до
                                        центра города и лесная тропа здоровья прямо у дома
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro__buttons">
                                <a href="./" data-goto=".block-catalog" data-goto-header class="btn btn-red">
                                    <img src="img/icons/icon1.svg" alt="">
                                    <span>Посмотреть планировки</span>
                                </a>
                                <a href="#" download="#" class="btn btn-transparent">
                                    <span>Скачать презентацию ЖК .PDF</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-intro__right">
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/icon2.svg" alt="">
                                </div>
                                <p>
                                    Сдача: <span>3 квартал 2026 г.</span> (Скоро ключи!)
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/icon3.svg" alt="">
                                </div>
                                <p>
                                    <span>10 минут</span> пешкомдо ж/д станции
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/icon4.svg" alt="">
                                </div>
                                <p>
                                    <span>Рассрочка</span> 0% от застройщика
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/icon5.svg" alt="">
                                </div>
                                <p>
                                    <span>Первоначальный взнос 0%</span> (по акции)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-about block1">
                <div class="container">
                    <div class="block-about__content">
                        <div class="block-about__body">
                            <div class="block-about__column">
                                <div class="block-about__number">
                                    1
                                </div>
                                <p>
                                    современный корпус
                                </p>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__number">
                                    112
                                </div>
                                <p>
                                    квартир с продуманными планировками
                                </p>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__number">
                                    16
                                </div>
                                <p>
                                    этажей
                                </p>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__number">
                                    2,75
                                </div>
                                <p>
                                    метров высота потолков
                                </p>
                            </div>
                        </div>
                        <div class="heading-complex">
                            <div class="heading-complex__title">
                                О комплексе
                            </div>
                            <h2 class="title2">
                                Современный комфорт в историческом центре
                            </h2>
                            <p>
                                ЖК на улице Комсомольская, дом 7 — это не просто новые стены, а новый образ жизни. Здесь
                                городской комфорт безупречно сочетается с экологией. Мы строим дом для тех, кто ценит
                                тишину, безопасность и высокое качество строительства
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-location">
                <div class="container">
                    <div class="block-location__content block1">
                        <div class="heading-complex">
                            <div class="heading-complex__title">
                                Месторасположение
                            </div>
                            <h2 class="title2">
                                Все, что нужно для жизни — в шаге от вашего дома
                            </h2>
                            <p>
                                Оцените расположение ЖК на интерактивной карте. Комплекс находится в тихом районе, но со
                                всеми преимуществами городской жизни
                            </p>
                        </div>
                        <div class="block-location__body">
                            <div class="block-location__column">
                                <div class="block-location__icon">
                                    <img loading="lazy" src="img/icons/icon6.svg" alt="">
                                </div>
                                <div class="block-location__text">
                                    <p>
                                        МБОУ Гимназия (одна из лучших школ России) и 2 новых детских сада
                                    </p>
                                </div>
                            </div>
                            <div class="block-location__column">
                                <div class="block-location__icon">
                                    <img loading="lazy" src="img/icons/icon7.svg" alt="">
                                </div>
                                <div class="block-location__text">
                                    <p>
                                        Городской парк с аттракционами и Комсомольские пруды с лесной «тропой здоровья»
                                    </p>
                                </div>
                            </div>
                            <div class="block-location__column">
                                <div class="block-location__icon">
                                    <img loading="lazy" src="img/icons/icon8.svg" alt="">
                                </div>
                                <div class="block-location__text">
                                    <p>
                                        МФЦ, магазины, аптеки, поликлиники — в радиусе 500 метров
                                    </p>
                                </div>
                            </div>
                            <div class="block-location__column">
                                <div class="block-location__icon">
                                    <img loading="lazy" src="img/icons/icon9.svg" alt="">
                                </div>
                                <div class="block-location__text">
                                    <p>
                                        Всего 5 минут на авто до центра Обнинска
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map1" class="block-location__map"></div>
            </div>

            <div data-watch="navigator" class="block-infrastructure block2">
                <div class="container">
                    <div class="block-infrastructure__content">
                        <div class="block-infrastructure__top">
                            <div class="heading-complex">
                                <div class="heading-complex__title">
                                    Инфраструктура двора
                                </div>
                                <h2 class="title2">
                                    Безопасный и уютный двор для вашей семьи
                                </h2>
                            </div>
                            <div class="slider-nav">
                                <button type="button" class="slider-nav__arrows infrastructure-arrow-prev arrow-prev">
                                    <svg aria-hidden="true" width="61" height="15">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </button>
                                <button type="button" class="slider-nav__arrows infrastructure-arrow-next arrow-next">
                                    <svg aria-hidden="true" width="61" height="15">
                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="block-infrastructure__body">
                            <div class="block-infrastructure__slider swiper">
                                <div class="block-infrastructure__wrapper swiper-wrapper">
                                    <div class="block-infrastructure__slide swiper-slide">
                                        <img loading="lazy" src="img/image2.webp" alt=""
                                            class="block-infrastructure__pic1">
                                        <div class="block-infrastructure__item">
                                            <div class="block-infrastructure__title">
                                                Детская<br> площадка
                                            </div>
                                            <div class="block-infrastructure__text">
                                                <p>
                                                    Во дворе дома — современные и безопасные комплексы. Ваш ребенок
                                                    всегда на виду.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-infrastructure__slide swiper-slide">
                                        <img loading="lazy" src="img/image3.webp" alt=""
                                            class="block-infrastructure__pic1">
                                        <div class="block-infrastructure__item">
                                            <div class="block-infrastructure__title">
                                                Спортивная<br>
                                                площадка
                                            </div>
                                            <div class="block-infrastructure__text">
                                                <p>
                                                    Зона Workout с тренажерами. Поддерживайте форму прямо у дома.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-infrastructure__slide swiper-slide">
                                        <img loading="lazy" src="img/image4.webp" alt=""
                                            class="block-infrastructure__pic1">
                                        <div class="block-infrastructure__item">
                                            <div class="block-infrastructure__title">
                                                Парковка
                                            </div>
                                            <div class="block-infrastructure__text">
                                                <p>
                                                    Просторная гостевая парковка по периметру — всегда есть место для
                                                    вашего авто.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-technologies block2">
                <div class="container">
                    <div class="block-technologies__content">
                        <div class="heading-complex">
                            <div class="heading-complex__title">
                                Архитектура и технологии
                            </div>
                            <h2 class="title2">
                                Надежность на века: строим на 100-150 лет
                            </h2>
                            <p>
                                При строительстве ЖК «Старый город» используются проверенные технологии, обеспечивающие
                                тепло, тишину и долговечность
                            </p>
                        </div>
                        <div class="descr">
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon10.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Монолитный каркас
                                    </div>
                                    <p>
                                        Гарантирует устойчивость здания и ровную геометрию квартир
                                    </p>
                                </div>
                            </div>
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon11.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Кирпичная облицовка фасада
                                    </div>
                                    <p>
                                        Обеспечивает дополнительную тепло- и звукоизоляцию, а также эстетичный внешний
                                        вид, который не потускнеет со временем.
                                    </p>
                                </div>
                            </div>
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon12.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Лифты
                                    </div>
                                    <p>
                                        Бесшумные современные лифтовые системы
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-availability block2">
                <img loading="lazy" src="img/image5.webp" alt="" class="block-availability__pic1">
                <div class="container">
                    <div class="block-availability__content">
                        <div class="block-availability__left">
                            <div class="progress-widget" style="--progress: 71;">
                                <svg class="progress-widget__svg" viewBox="0 0 320 320">
                                    <circle class="progress-widget__track progress-widget__track--inner" cx="160"
                                        cy="160" r="133" />
                                    <circle class="progress-widget__track progress-widget__track--outer" cx="160"
                                        cy="160" r="160" />
                                    <circle class="progress-widget__bar" cx="160" cy="160" r="146.5" />
                                </svg>
                                <div class="progress-widget__content">
                                    <span class="progress-widget__number">112</span>
                                    <span class="progress-widget__label">Квартир<br>всего</span>
                                </div>
                            </div>
                            <div class="block-availability__body">
                                <div class="block-availability__column">
                                    <div class="block-availability__percent">
                                        <span>71%</span>
                                    </div>
                                    <div class="block-availability__titles">
                                        <div class="block-availability__title">
                                            Продано:
                                        </div>
                                        <p>
                                            80 квартир
                                        </p>
                                    </div>
                                </div>
                                <div class="block-availability__column column-white">
                                    <div class="block-availability__percent">
                                        <span>29%</span>
                                    </div>
                                    <div class="block-availability__titles">
                                        <div class="block-availability__title">
                                            Осталось в продаже:
                                        </div>
                                        <p>
                                            32 квартиры
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-availability__right">
                            <div class="heading-complex">
                                <div class="heading-complex__title">
                                    Наличие квартир
                                </div>
                                <h2 class="title2">
                                    Успейте выбрать свою квартиру!
                                </h2>
                                <p>
                                    В ЖК «Старый город» всего 112 квартир. Большая часть уже обрела своих хозяев. На
                                    данный момент в открытой продаже от застройщика осталось ограниченное предложение
                                </p>
                            </div>
                            <a href="./" data-popup="#call" class="btn btn-red">
                                <span>Получить актуальную шахматку свободных квартир</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog block2">
                <div class="container">
                    <div class="block-catalog__content">
                        <div class="heading-complex">
                            <div class="heading-complex__title">
                                Каталог
                            </div>
                            <h2 class="title2">
                                Удобные и функциональные планировки
                            </h2>
                        </div>
                        <div class="block-catalog__body">
                            <div class="block-catalog__filter">
                                <div class="filter">
                                    <button data-filter="all" class="filter__title active">
                                        Все
                                    </button>
                                    <button data-filter="studios" class="filter__title">
                                        студии
                                    </button>
                                    <button data-filter="1k" class="filter__title">
                                        1-комнатные
                                    </button>
                                    <button data-filter="2k" class="filter__title">
                                        2-комнатные
                                    </button>
                                </div>
                                <div class="block-catalog__price">
                                    <img loading="lazy" src="img/icons/price-tag.svg" alt="">
                                    <p>
                                        <span>Цена за м² :</span> от 121 822 до 141 258 ₽
                                    </p>
                                </div>
                            </div>
                            <div class="block-catalog__cards">
                                <div data-filter="studios" class="card-product filter-card">
                                    <div class="card-product__top">
                                        <div class="card-product__title">
                                            Студии
                                        </div>
                                        <div class="card-product__kv">
                                            в доме 16 шт
                                            <img src="img/icons/key.svg" alt="">
                                        </div>
                                    </div>
                                    <img loading="lazy" src="img/catalog/image1.webp" alt="" class="card-product__pic1">
                                    <div class="card-product__item">
                                        <div class="card-product__prices">
                                            <div class="card-product__price">
                                                от 3,8 до 3,9 млн ₽
                                            </div>
                                            <div class="card-product__size">
                                                от 30 м²
                                                <img src="img/icons/size.svg" alt="">
                                            </div>
                                        </div>
                                        <p>
                                            Идеальный старт для студентов и молодых специалистов
                                        </p>
                                    </div>
                                    <div class="card-product__buttons">
                                        <a href="https://obmen.ru/flats?complex_id=b95b8a0a-7442-4b9c-94c1-a0473eff2674&rooms=1&rooms=2&rooms=0"
                                            class="btn btn-red">
                                            <span>Забронировать</span>
                                            <div class="btn__icon">
                                                <svg aria-hidden="true" width="8" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="./" data-goto=".block-calculator" data-goto-header
                                            class="btn btn-grey">
                                            <div class="btn__icon2">
                                                <svg aria-hidden="true" width="24" height="24">
                                                    <use xlink:href="img/sprite.svg#ipot1"></use>
                                                </svg>
                                            </div>
                                            <span>Рассчитать ипотеку</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-filter="1k" class="card-product filter-card">
                                    <div class="card-product__top">
                                        <div class="card-product__title">
                                            1-комнатные
                                        </div>
                                        <div class="card-product__kv">
                                            в доме 48 шт
                                            <img src="img/icons/key.svg" alt="">
                                        </div>
                                    </div>
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="card-product__pic1">
                                    <div class="card-product__item">
                                        <div class="card-product__prices">
                                            <div class="card-product__price">
                                                от 4,5 до 5,0 млн ₽
                                            </div>
                                            <div class="card-product__size">
                                                от 35 м²
                                                <img src="img/icons/size.svg" alt="">
                                            </div>
                                        </div>
                                        <p>
                                            Просторная кухня-гостиная и уютная спальня
                                        </p>
                                    </div>
                                    <div class="card-product__buttons">
                                        <a href="https://obmen.ru/flats?complex_id=b95b8a0a-7442-4b9c-94c1-a0473eff2674&rooms=1&rooms=2&rooms=0"
                                            class="btn btn-red">
                                            <span>Забронировать</span>
                                            <div class="btn__icon">
                                                <svg aria-hidden="true" width="8" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="./" data-goto=".block-calculator" data-goto-header
                                            class="btn btn-grey">
                                            <div class="btn__icon2">
                                                <svg aria-hidden="true" width="24" height="24">
                                                    <use xlink:href="img/sprite.svg#ipot1"></use>
                                                </svg>
                                            </div>
                                            <span>Рассчитать ипотеку</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-filter="2k" class="card-product filter-card">
                                    <div class="card-product__top">
                                        <div class="card-product__title">
                                            2-комнатные
                                        </div>
                                        <div class="card-product__kv">
                                            в доме 48 шт
                                            <img src="img/icons/key.svg" alt="">
                                        </div>
                                    </div>
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="card-product__pic1">
                                    <div class="card-product__item">
                                        <div class="card-product__prices">
                                            <div class="card-product__price">
                                                от 6,3 до 7,5 млн ₽
                                            </div>
                                            <div class="card-product__size">
                                                от 52 м²
                                                <img src="img/icons/size.svg" alt="">
                                            </div>
                                        </div>
                                        <p>
                                            Отличный вариант для растущей семьи с детьми
                                        </p>
                                    </div>
                                    <div class="card-product__buttons">
                                        <a href="https://obmen.ru/flats?complex_id=b95b8a0a-7442-4b9c-94c1-a0473eff2674&rooms=1&rooms=2&rooms=0"
                                            class="btn btn-red">
                                            <span>Забронировать</span>
                                            <div class="btn__icon">
                                                <svg aria-hidden="true" width="8" height="12">
                                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <a href="./" data-goto=".block-calculator" data-goto-header
                                            class="btn btn-grey">
                                            <div class="btn__icon2">
                                                <svg aria-hidden="true" width="24" height="24">
                                                    <use xlink:href="img/sprite.svg#ipot1"></use>
                                                </svg>
                                            </div>
                                            <span>Рассчитать ипотеку</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-finishing block2">
                <div class="container">
                    <div class="block-finishing__content">
                        <div class="block-finishing__top">
                            <div class="heading-complex">
                                <div class="heading-complex__title">
                                    Отделка
                                </div>
                                <h2 class="title2">
                                    Свобода для ваших дизайнерских решений
                                </h2>
                                <p>
                                    Квартиры сдаются без отделки. Вы не переплачиваете за типовой ремонт от застройщика
                                    и получаете чистое полотно (свободную планировку) для реализации интерьера мечты
                                </p>
                            </div>
                            <div class="block-finishing__descr">
                                <div class="block-finishing__column">
                                    <div class="block-finishing__icon">
                                        <svg aria-hidden="true" width="20" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Установка входной двери
                                    </p>
                                </div>
                                <div class="block-finishing__column">
                                    <div class="block-finishing__icon">
                                        <svg aria-hidden="true" width="20" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Установка радиаторов
                                    </p>
                                </div>
                                <div class="block-finishing__column">
                                    <div class="block-finishing__icon">
                                        <svg aria-hidden="true" width="20" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Остекление
                                    </p>
                                </div>
                                <div class="block-finishing__column">
                                    <div class="block-finishing__icon">
                                        <svg aria-hidden="true" width="20" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        Разводка инженерных коммуникаций (ГВ/ХВ)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div data-ba class="before-after">
                            <div data-ba-before class="before-after__item">
                                <img loading="lazy" src="img/image6.webp" alt="">
                            </div>
                            <div data-ba-after class="before-after__item">
                                <img loading="lazy" src="img/image8.webp" alt="">
                            </div>
                            <div data-ba-arrow class="before-after__arrows">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-steps">
                <div class="container">
                    <div class="block-steps__content">
                        <div class="heading-complex">
                            <div class="heading-complex__title">
                                Ход строительства
                            </div>
                            <h2 class="title2">
                                Мы вышли на финишную прямую!
                            </h2>
                            <p>
                                Строительство идет строго по графику. Дом готовится к сдаче в 3 квартале 2026 года.
                                Посмотрите, какой объем работ мы выполнили за последние полгода
                            </p>
                        </div>
                        <div class="block-steps__body">
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Апрель 2026</span>
                                </div>
                                <p>
                                    Кладка наружных кирпичных стен и внутренних межкомнатных перегородок средних и
                                    верхних этажей
                                </p>
                            </div>
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Март 2026</span>
                                </div>
                                <p>
                                    Завершение монолитных работ, возведение каркаса здания до уровня крыши
                                </p>
                            </div>
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Май 2026</span>
                                </div>
                                <p>
                                    Монтаж внутренних коммуникаций (отопление, водоснабжение, электрика)
                                </p>
                            </div>
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Июнь 2026</span>
                                </div>
                                <p>
                                    Установка оконных конструкций на верхних этажах, завершение фасадных работ
                                </p>
                            </div>
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Июль 2026</span>
                                </div>
                                <p>
                                    Внутренняя отделка мест общего пользования (МОП), монтаж лифтового оборудования
                                </p>
                            </div>
                            <div class="block-steps__column">
                                <div class="block-steps__top">
                                    <div class="block-steps__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                    <span>Август 2026</span>
                                </div>
                                <p>
                                    Подготовка к вводу в эксплуатацию, благоустройство территории (асфальтирование,
                                    установка детских площадок), пусконаладочные работы инженерных систем
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-documentation">
                <div class="container">
                    <div class="block-documentation__content">
                        <div class="block-documentation__body">
                            <div class="heading-complex">
                                <div class="heading-complex__title">
                                    Документация и Надежность
                                </div>
                                <h2 class="title2">
                                    Строим по закону, сдаем в срок
                                </h2>
                                <p>
                                    Официальный застройщик проекта — ООО «СЗ Старый Город». Мы работаем строго по 214-ФЗ
                                </p>
                            </div>
                            <div class="block-documentation__downloads">
                                <a href="#" download="#" class="block-documentation__column">
                                    <div class="block-documentation__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#download"></use>
                                        </svg>
                                    </div>
                                    <div class="block-documentation__titles">
                                        <div class="block-documentation__title">
                                            Скачать
                                        </div>
                                        <p>
                                            Градостроительный план
                                        </p>
                                    </div>
                                </a>
                                <a href="#" download="#" class="block-documentation__column">
                                    <div class="block-documentation__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#download"></use>
                                        </svg>
                                    </div>
                                    <div class="block-documentation__titles">
                                        <div class="block-documentation__title">
                                            Скачать
                                        </div>
                                        <p>
                                            Проектную декларацию
                                        </p>
                                    </div>
                                </a>
                                <a href="#" download="#" class="block-documentation__column">
                                    <div class="block-documentation__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#download"></use>
                                        </svg>
                                    </div>
                                    <div class="block-documentation__titles">
                                        <div class="block-documentation__title">
                                            Скачать
                                        </div>
                                        <p>
                                            Разрешениена строительство
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="descr">
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon13.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Проверено порталомнаш.дом.рф
                                    </div>
                                </div>
                            </div>
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon14.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Застройщик <span>НЕ</span> числится в реестре проблемных объектов
                                    </div>
                                </div>
                            </div>
                            <div class="descr__column">
                                <div class="descr__icon">
                                    <img loading="lazy" src="img/icons/icon15.svg" alt="">
                                </div>
                                <div class="descr__item">
                                    <div class="descr__title">
                                        Эскроу-счета открыты во всех корпусах
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>