:root {
  --container-width: 1330px;
  --container-padding: 40px;
  --ffffff: #fff;
  --07071f: #07071f;
  --ff383c: #ff383c;
  --316c3f: #316c3f;
  --f7f7f7: #f7f7f7;

  --font-family: "Gilroy", sans-serif;
}
